@import '../../assets/styles/variables/_colors.scss';
@import '../../assets/styles/variables/_fonts.scss';

.card {
    text-align: center;
    &__container {
        background-color: $card-color;
        display: flex;
        gap: 200px;
        border-radius: 50px;
    }
    &__title {
        max-width: 425px;
    }
    &__bg {
        z-index: 1;
    }
    &__title-text {
        z-index: 300;
    }

    &__filter {
        padding: 43px 0 10px 0;
        display: flex;
        gap: 15px;
        justify-content: center;
        
    }

    &__button {
        padding: 5px;
        width: 150px;
        border-radius: 50px;
        font-family: $main-font;
        font-size: 14px;
        background-color: $bg2-color;
        opacity: 0.6;
    }

    &__button:hover {
        opacity: 1;
    }

    &__city {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__info {
        display: flex;
        gap: 20px;
        background-color: $bg2-color;
        border-radius: 25px;
        padding: 30px;
    }
}

.plus {
    font-family: $main-font;
    font-size: 50px;
    background-color: transparent;
    opacity: 0.6;
}

.plus:hover {
    opacity: 1;
}