@import '../../assets/styles/variables/_colors.scss';
@import '../../assets/styles/variables/_fonts.scss';

.card {
    text-align: center;
    &__container {
        background-color: $card-color;
        display: flex;
        gap: 200px;
        border-radius: 50px;
    }
    &__title {
        max-width: 425px;
    }
    &__bg {
        z-index: 1;
    }
    &__title-text {
        z-index: 300;
    }

    &__filter {
        padding: 43px 0 20px 0;
        display: flex;
        gap: 15px;
        justify-content: center;
        
    }

    &__button {
        padding: 10px;
        width: 100px;
        border-radius: 50px;
        font-family: $main-font;
        font-size: 14px;
        background-color: $bg2-color;

    }

    &__city {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 100;
    }

    &__info {
        display: flex;
        gap: 20px;
        background-color: $bg2-color;
        border-radius: 25px;
        padding: 30px;
    }
}