@import '../../assets/styles/variables/_colors.scss';
@import '../../assets/styles/variables/_fonts.scss';

.card {
    text-align: center;
    &__container {
        background-color: $bg-color;
        display: flex;
        gap: 200px;
    }
    &__title {
        max-width: 425px;
    }
    &__bg {
        z-index: 1;
    }
    &__title-text {
        z-index: 300;
    }

    &__filter {
        margin-bottom: 20px;
    }

    &__city {
        margin-bottom: 20px;
    }

    &__info {
        display: flex;
        gap: 20px;
    }
}